[2020-05-06 11:11] stephen-cox opened #1 "Add dev tools to composer.json"

[2020-05-06 11:21] stephen-cox opened #2 "Add required Drupal fiels for a minimal module"

[2020-05-06 15:06] stephen-cox commented on #2
done

[2020-05-06 15:06] #2 closed

[2020-05-06 19:19] stephen-cox commented on #1
Fixed with https://github.com/localgovdrupal/localgov/commit/a891eef5b9474c63f7802687209976dddc83aa46

[2020-05-06 19:19] #1 closed

[2020-06-02 13:39] stephen-cox opened #4 "Port title block code"

[2020-06-02 13:40] stephen-cox commented on #4
Part of localgovdrupal/localgov_theme/issues/16

[2020-06-02 16:28] #4 closed

[2020-06-03 12:06] Adnan-cds opened #6 "Bug: Node title block should work with nodes with no body field"
We have managed to introduce a bug as part of #4 where nodes without a body field lead to WSOD.  @andybroomfield already has a fix, so here we go.

## How to reproduce
- Create a new content type in localgov site.
- Make sure the "body" field is present.
- Create a page of this new content type.
- View the page.
- This should lead to a WSOD.

[2020-06-03 15:39] andybroomfield commented on #6
Have test to verifiy.
In setup:
[code]
And the test
[code]

Mink returns status code 500.
The culprit is this in `NodeHeaderBlock.php`
[code]
We need to check that calling get('body') returns something (page with no body field won't) before calling its isEmpty() method.

Minor impact as currently defined content types will contain body fields, as will most custom ones, though there are some BHCC c

[2020-06-03 16:38] andybroomfield commented on #6
@Adnan-cds Just saw your comment, thats what I went for.

[2020-06-03 19:36] #6 closed

[2020-06-04 13:42] stephen-cox opened #9 "Move config enabling blocks on to the LocalGov profile"
I've realised that any config that places blocks on a site-install should move to the profile. This config for placing the node title block will need to be amended as the templates regions have changed as part of localgovdrupal/localgov_theme/issues/14

This means we may want to adjust the tests so they work with a different theme and place the block before then checking the title appears.

[2020-06-04 17:55] Adnan-cds commented on #6
Thanks for fixing this @andybroomfield @stephen-cox :)

[2020-06-05 11:03] #9 closed

[2020-06-11 09:49] stephen-cox opened #12 "Add text format with CKeditor"
At the moment there's only plaintext editing. People will want to use CKEditor.

What buttons do we want to include by default?
Do we want to include an optional dependency to localgov_media with an entity browser for inserting media as part of this issue?

[2020-06-11 11:28] stephen-cox opened #13 "Add Drupal Font Awesome Icons module"
https://www.drupal.org/project/fontawesome

See discussion here: https://github.com/localgovdrupal/localgov_theme/issues/20

[2020-06-16 13:41] stephen-cox opened #14 "Coding standards issues"
[code]

[2020-06-16 13:44] stephen-cox opened #15 "Add GitLab Actions config to run checks and tests on pull requests and merges into master"
Basically the same as this https://github.com/localgovdrupal/localgov_services/pull/38

[2020-06-16 13:58] #14 closed

[2020-06-17 07:32] #15 closed

[2020-06-17 10:37] #13 closed

[2020-06-17 15:15] stephen-cox commented on #12
@ekes @finnlewis Just looking at implementing a CKEditor text format. It's not immediately obvious where it should live. If we put it in core then it will be enabled for any site that uses a localgov component, given they will already have their own text formats this is desirable. Other options are to create a module specifically for this, which seems overkill to me, or to add it to media, which i

[2020-06-18 09:45] stephen-cox commented on #12
A quick review of other distributions show that there are a number of different ways:
- Lightning - in the media module: https://git.drupalcode.org/project/lightning_media/-/tree/8.x-3.x/config/install
- Thunder - in the profile: https://git.drupalcode.org/project/thunder/-/tree/8.x-3.x/config/install
- Open Social - in its own module: https://git.drupalcode.org/project/social/-/tree/8.x-9.x/modul

[2020-06-18 10:14] stephen-cox commented on #12
From our discussions at standup I will add this to the media module for now as it will be easy enough to move to it's own module later on.

[2020-06-19 13:01] #12 closed

[2020-06-30 11:00] stephen-cox opened #20 "Add entity_reference_labels FieldWidget to localgov_core"
This field widget is currently in locagov_guides but is also used by localgov_campaigns and so should live in core.

Related issue: https://github.com/localgovdrupal/localgov_guides/issues/16

[2020-06-30 15:50] stephen-cox opened #22 "Add Field Group module as a dependency of core and patch for d.o. issue #3059614"
It's currently beings installed through composer by the a few LocalGiv modules which uses slightly different version numbers. It would be better to include it once in core and remove it from the other modules - which depend on core anyway.

- localgov_alert_banner
- localgov_paragraphs
- localgov_services

There's also an issue with Field Group which means it gives a warning on node edit pages, wh

[2020-07-02 06:44] #22 closed

[2020-07-03 10:51] #20 closed

[2020-07-28 13:55] stephen-cox opened #26 "Add media browser to localgov_media"

[2020-07-28 14:06] #26 closed

[2020-08-05 10:14] ekes opened #28 "Workflow: Moderate content list"
There is a list view in Admin > Content but it's not surfacing Draft issue.

[2020-08-05 10:19] willguv opened #29 "Add node authorised link"
This allows content designers to send a preview link to a service so they can check the content before publishing

@andybroomfield and @Adnan-cds say this is a contrib module

Needs switching on, and configuring for every content type

[2020-08-05 10:20] stephen-cox opened #30 "Installing permissions for authors and content editors"
The localgov_roles module installs permissions for the 4 service content types. It doesn't do anything for other content types as we don't know which other content types will be enabled at install time. We need some way of installing these so athours and editors can use the workflow defined in localgov_workflow.

[2020-08-05 10:22] willguv commented on #29
@ekes says this needs to be 'self aware' in that the code base knows to add this functionality as new components are added

[2020-08-05 17:51] andybroomfield commented on #29
http://drupal.org/project/node_authlink

[2020-08-11 11:37] finnlewis opened #31 "Consistent naming"
Glancing down the list of LocaGov extensions on a fresh install, it looks like a number of modules have the readable name "LocalGov Drupal Blah" rather than "LocalGov Blah".

For consistency I think we should remove the word "Drupal" from module names, as it is redundant.

We should also update the https://github.com/localgovdrupal/localgov/wiki/Naming-conventions page to reflect consistent naming

[2020-09-01 15:35] andybroomfield opened #34 "Can't install in BHCC site as requires Linkit ^6.0-beta1"
Attempting to see if possible to do an intrasite migration by installing the modules into the existing site.
Ran into this problem, where composer will not install localgov_core modules (and thus any localgov module) because of the [Linkit](http://drupal.org/project/linkit) dependancy.

Is there a reason it is set at version 6? Since our policy is to generally prefer stable modules over pre-releas

[2020-09-02 08:34] andybroomfield opened #35 "Rename installed fields to localgov_ prefix"
Trying to install this module on BHCC site results in following error.

Error can be bypassed by changing the config install folder to optional. If these fields are unchaged from BHCC then that is acceptible, however if not these need to be renamed to the localgov_ prefix.

[2020-09-08 09:54] andybroomfield commented on #34
Linkit 6 does actully work, if this works ok with our comms team we may upgrade to it, although it is a beta not stable release.

[2020-09-14 12:30] andybroomfield commented on #35
Whilst we can update the storage here, this is going to involve updates to the modules that then use these fields, which may prove a lot more difificult. Lots of cross pull requests to implement.

[2020-09-18 15:56] stephen-cox opened #38 "Add Redirect and Metatag modules"

[2020-09-23 08:03] #38 closed

[2020-09-30 14:50] finnlewis opened #41 "Tables in CKEditor - add button config and filter"
Lambeth Council wanted the table button on the CKeditor by default.

@Adnan-cds advised that Croydon also have this, so I think it makes sense to include in the default install.

Adding this issue to track discussion and generate a branch and PR for the change.

@andybroomfield do you also have tables in rich text by default at Brighton and Hove?

[2020-10-06 09:21] ekes opened #43 "Metatag configuration"
Metatag has been added to core, so all sites have it. But there isn't any configuration yet?

Is there a plan for configuration? How it can be altered by sites?
What about data from specific fields in specific content types?

[2020-10-26 16:49] andybroomfield opened #44 "Recreate Default footer blocks"
Recreate the default blocks in the footer, though obviously these can be editable content.

Contact us
Fastest way to get help is online
Send us a message
Other ways to contact us
---
Visit us
LocalGov
Anywhere House
Anywhere Street
Anywhere
AN33 WHE
---
Accessibility and feedback
We are committed to making our website accessible to all visitors.

Read our accessibility statement or give feedback

[2020-11-25 23:02] finnlewis opened #45 "New responsive image display for 28:9 banner"
The subsite default banner is 28:9 crop and responsive image preset, which needs to live here with the rest of the media config.

[2020-12-15 11:31] Adnan-cds commented on #45
Should we close this?

FAO @finnlewis

[2020-12-15 11:33] Adnan-cds commented on #30
I came across this very issue while setting up the LocalGov Croydon site :(

FAO @finnlewis @stephen-cox @willguv @andybroomfield

[2020-12-15 12:08] willguv commented on #30
I expect this will come up in next week's retro - there was extra dev work we needed to do to bridge the gap between LGD and having a production ready site

Could optional modules have bundled workflow, or look for workflow in services (if services is installed)?

[2020-12-15 12:08] Adnan-cds opened #47 "LocalGov Media: Enable the "Description" field of Media Document"
The "Description" field of the Media Document enables us to customize the **link text** for Media documents embedded within the WYSIWYG.

This field is enabled by selecting the "Enable Description field" checkbox at the bottom of /admin/structure/media/manage/document/fields/media.document.field_media_document

FAO @finnlewis @willguv

[2020-12-15 12:19] Adnan-cds opened #48 "LinkIt should list Media Documents (and Page components)"
As evident in /admin/config/content/linkit/manage/default/matchers, LinkIt currently only offers to link to nodes.  This is because we are using the *Default* LinkIt **profile**. We can easily add Media Documents (and also Page components) to it.

Alternatively, we can create a new LinkIt profile and make all our changes to it.  The WYSIWYG will then have to be instructed to use this new LinkIt pr

[2020-12-15 12:53] Adnan-cds opened #49 ""Original ratio" Media image view mode"
There are times when the default 3:2 Responsive image style just isn't enough.  The *Original ratio* Media view mode should help in those times.  This will allow editors to apply that odd crop which none of the existing crops could cover.  A good example is a map image that doesn't fit any of the given ratios:
![Map image](https://new.croydon.gov.uk/sites/default/files/styles/cds_original_ratio_11

[2020-12-15 13:31] finnlewis commented on #45
Yes, this was resolved with https://github.com/localgovdrupal/localgov_core/pull/46

[2020-12-15 13:31] #45 closed

[2020-12-15 13:34] finnlewis commented on #49
Interesting.
Makes sense, mostly.
Once question though, if you're intending to display the image at its original ratio, why have a crop at all?

[2020-12-15 13:53] Adnan-cds commented on #49
We have seen people here uploading 2+MB images.  These ruin the UX when you later try to view such pages in a real mobile phone.  To avoid this, a crop can impose a maximum width while retaining the original ratio thereby ensuring a reasonable image size.  That's the rational in my mind.

It is possible to optimize the image size further by installing the [Image effects module](https://www.drupal.

[2020-12-15 18:56] finnlewis commented on #49
But even if I upload a 50MB file, the **image styles** will create the max width and scale the image proportionally, without the need for an additional crop.

My thinking is, the only reason to have a crop is if you wanted to allow the content creator to upload an image and select a proportion of the image rather than the whole thing. Is that the need here?

[2020-12-15 19:06] Adnan-cds commented on #49
That's right.

Sorry, my previous answer above totally missed the mark :(

[2020-12-15 21:54] finnlewis commented on #49
Cool, thanks for clarifying. It does make sense to me in that case!
It's good to explore though.
:)

[2020-12-16 09:40] Adnan-cds commented on #49
+1

[2021-01-13 17:39] Adnan-cds opened #50 "Question about new release"
Hi Finn,
I have realized there's some unreleased code in the master branch that carries the responsive_banner Media image display mode and related configs.  I have just created a **release** branch from the master branch.  Because there's no difference between the release branch and the master branch, there is nothing to raise a pull request against!  Is it okay if I just tag the release branch as

[2021-01-13 17:56] finnlewis commented on #50
sure thing!

[2021-01-13 18:05] Adnan-cds commented on #50
Done.  Thanks :)

[2021-01-13 18:05] #50 closed

[2021-04-02 10:21] markconroy opened #53 "Allow <br> in WYSIWYG input"
Currently if we add a line break (shift+enter), the `<br>` is in the source, but doesn't get converted to a `<br>` when output.

Let's switch this on in the WYSIWYG input settings.

[2021-04-06 19:01] #35 closed

[2021-04-08 13:08] finnlewis opened #56 "New issue for Core"
sad
as
dsa
sad
a

[2021-04-09 14:16] markconroy opened #57 "Add view mode for 'Card'"
Lots of websites use a "Card" view mode. Our current profile only allows teaser as a view mode, which is fine for some listings like a search result or service listing, but often we might like a slightly different layout, such as a featured news like what is on the Brighton-Hove homepage.

![Screenshot 2021-04-09 at 15 11 57](https://user-images.githubusercontent.com/2183332/114193412-653a1d80-994

[2021-04-09 14:20] markconroy opened #58 "Stop using "Default" view mode and start using "Full content" view mode instead"
We should stop using the "Default" view mode. The point of that view mode is that it is used as a fallback when none others are available.

For example, if you have a view that lists items using a "Search Result" view mode, but you have no "Search Result" view mode configured for one of your content types. Then that content type will use "Default".

In that case, "Default" should use a minimal amo

[2021-04-20 08:04] markconroy opened #59 "Have a Discussion about what Display Modes we want for Media"
Looking at the display types for media, we have displays set for "Events thumbnail" and also "Newsroom teaser".

Let's take those 2 as an example of what not to do and why.

1. We do not have a consistent naming convention. To fix, let's change to "Events teaser" and "Newsroom teaser".
2. We should not need to have individual media display modes for the same content view mode - teaser. Each conten

[2021-04-21 13:53] markconroy opened #60 "Claro sidebar cuts off part of fields on node edit pages"
If you are using vertical tabs, part of the fields and field descriptions is cut off when editing. This is especially painful if you have saved your content and come back to edit it if the content is a paragraph type, since the "Edit" link for the paragraph is now hidden under the sidebar, like so:

![Screenshot 2021-04-21 at 14 47 56](https://user-images.githubusercontent.com/2183332/115565365-37

[2021-04-21 14:17] markconroy opened #61 "Body field for service sub-landing page is required, but not printed on page."
I don't think this should be a required field.

For example, if you look at https://www.croydon.gov.uk/adult-health-and-social-care/care-homes-and-housing you will see there is no body field.

The field is not printed in our theme, so no matter what goes into it will not be seen. I think the simplest solution is to just make the field not required.

[2021-04-21 14:27] markconroy commented on #61
This issue is in the wrong repo.

[2021-04-21 14:27] #61 closed

[2021-04-28 13:32] stephen-cox opened #62 "Powered by block should use LocalGov Drupal not LocalGovDrupal"
When initially installing a site a block is placed in the footer that says "Powered by LocalGovDrupal" and points to https://github.com/localgovdrupal/localgov/.

This should say "Powered by LocalGov Drupal" and points to https://localgovdrupal.org/

[2021-04-28 15:36] ekes opened #64 "Tag 1.0.0"
As per localgovdrupal/localgov#194 localgovdrupal/localgov#200

PR and Issues. Many changes, but nothing blocking.

[2021-04-29 11:54] #62 closed

[2021-05-05 15:08] stephen-cox opened #67 "Drupal 9 coding standards and deprecation issues"
## Coding standards

[code]

## Deprecated code

[code]

[2021-05-07 14:54] ekes commented on #64
https://github.com/localgovdrupal/localgov_core/releases/tag/1.0.0

[2021-05-07 14:54] #64 closed

[2021-05-10 22:39] andybroomfield commented on #56
Can close this?
Assume it was for a demo.

[2021-05-10 22:42] andybroomfield commented on #31
Assuming this is closable now.

[2021-05-10 22:44] andybroomfield commented on #34
Is there any big differences between Linkit 4 and Linkit 6 (which is in beta) that we need to be aware of?

[2021-05-10 22:45] andybroomfield commented on #41
I think we have table so yes anything provided in core should have it.
Although we have our own Wysisyg profiles.

[2021-05-10 22:52] andybroomfield commented on #43
I think this is something for the individual modules.
However would be good to get a default configuration here.
Do we have a spec in mind for default meta tag content.

[2021-05-10 23:00] andybroomfield opened #70 "Are the core provided fields really required here (move them to services)"
Are the fields localgov_email_address, localgov_facebook, localgov_twitter, localgov_phone used outside localgov services landing page? Perhaps its best to move them to the appropriate module?

[2021-05-17 12:11] markconroy commented on #70
They should like services fields to me, so moving them might be a good idea. Though since services is required by core, it might not make much of a difference whether they are moved or not.

[2021-05-17 12:13] markconroy commented on #59
Now that we have news almost ready, I'd _really_ like to push to have a chat about this. I'd much prefer news teasers to use a media display mode called "Teaser" (and eventually events, services, directories, etc) to all use that when their content is represented in a teaser view mode.

This is scalable. Creating a view mode per content type multiplied by per content type view mode is taking us do

[2021-05-17 12:14] markconroy commented on #58
Another issue that this throws up is that _every_ field that gets added to a content type is automatically added to "Default", which might expose fields to users that we didn't mean to expose.

If we enable "Full content", then we have to explicitly say what fields we want. This is a much more secure way to build a Drupal website - don't leave things to chance.

[2021-05-17 12:16] markconroy commented on #56
I'm closing this as a gift to @andybroomfield

[2021-05-17 12:16] #56 closed

[2021-05-18 13:48] #67 closed

[2021-05-19 13:33] willguv opened #73 "Compare content designer and author permissions out of the box with Croydon and Cumbria"
When starting work with Cumbria Ben Hills-Jones noticed that, as a content designer, he was unable to perform some actions on a fresh install of LGD compared with Croydon.

We need to check permissions for these roles on a few sites, and make sure a fresh install gives content designers and authors everything they need.

[2021-05-19 13:35] willguv commented on #73
This is a holding card for the issue you spotted @benhillsjones @danchamp

[2021-05-19 16:56] Adnan-cds opened #75 "Field renaming is wiping out Paragraphs"
Hello,
We have run the [field renaming update](https://github.com/localgovdrupal/localgov_theme/releases/1.0.0-alpha4) yesterday.  Fields were renamed correctly without any issues.  Unfortunately, some Paragraph entities referenced by the field_topics field (now localgov_topics) became orphaned in the process.  These were later purged by the [Entity reference revisions module](https://git.drupalco

[2021-05-19 17:10] andybroomfield commented on #75
Since this is already released, I don't think we can revert.
Should we look at using a migration to move them over?

[2021-05-19 17:33] andybroomfield commented on #75
@Adnan-cds I'd like to investigate further before we pull this rename, as its essential to rename this field so it can be used at BHCC, and I think new sites will have built with the new names.

[2021-05-19 17:38] Adnan-cds commented on #75
Hi Andy, Field renaming is fine.  We just need to skip using it on Paragraph fields.

[2021-05-19 17:46] andybroomfield commented on #75
Except we need to rename the paragraph fields, as field_topics already exists in the BHCC site so we won't be able to install localgov_services.

[2021-05-19 17:53] Adnan-cds commented on #75
As far as I understand at the moment, the parent_id, parent_type, and parent_field_name fields in the paragraphs_item_field_data and paragraphs_item_revision_field_data tables are the key.  Once these values get nullified, the previously mentioned Entity reference revision purger starts its job.

[2021-05-19 17:56] andybroomfield commented on #75
ok, so first idea is can we acomplish this with a migration? Create the new field, use migrate to clone data, then remove the old field.

[2021-05-19 17:59] Adnan-cds commented on #75
As far as I understand, as soon as you will remove a Paragraph field (i.e. an Entity reference revision field), the Paragraph entities referenced by it will loose their parent data.  But if you migrate both the Paragraph field and the Paragraph entities it references, then migration may work.

[2021-05-19 18:12] andybroomfield commented on #75
Other sites (London councils @danchamp and Lambeth @finnlewis, @stephen-cox, @ekes) experincing this issue?

[2021-05-19 18:18] andybroomfield commented on #75
Ok, I verified this issue by
- doing a fresh install on the pre renamed fields
- installing the old version of localgov_demo,
- upgrading to latest 1.x modules
- run drush updb -y
- run drush cron

Renamed topics was there before running cron, but was cleared of values once cron was run.

[2021-05-19 18:20] andybroomfield commented on #75
@Adnan-cds the other option is if it is a paragraph field to do a DB search and replace?

[2021-05-19 18:23] Adnan-cds commented on #75
That's right.  The Queue workers are applied during cron runs.  Depending on how many items are in the queue, this can take a while to get to.  Almost like a timebomb!

That may work.  But I haven't tried it, so can't say for sure.  What I understand is, these Paragraph fields need different treatment than other fields.

[2021-05-19 18:43] danchamp commented on #75
@andybroomfield Sorry, we had no Paragraph entities to migrate so didn't experience this issue.

[2021-05-19 22:58] andybroomfield commented on #75
I did a quick experiment by doing a database sql query. The following works and keeps the topic fields intact after cron runs.
[code]
If we can add this query into the field rename helper if it is working with a paragraphs field, think page components will be the other one, but the old version of localgov_demo doesn't have any of those, I think this should resolve the bug.

FAO @Adnan-cds.

[2021-05-20 08:29] willguv commented on #75
Sorry you experienced this @Adnan-cds @tom-steel - it was a surprise to hear this happened. Well done for tracking down the issue.

Shall we have a short retro?
- to share understanding of the issue
- to pick up any learnings for future changes of this type (eg switch to D9, refactoring of front end theme)

What's your view @finnlewis? Thanks all

[2021-05-20 09:27] richardaclarke commented on #75
I'd be happy to join a retro, @willguv. The tricky thing with this one was that it wasn't evident straightaway, it basically waited until everyone was asleep. So maybe a longer period of testing is needed, or we need to have more awareness of Cron tasks that run later.

[2021-05-20 09:29] andybroomfield commented on #75
Lets try to get a fix in then happy to join a retro.

[2021-05-20 09:34] Adnan-cds commented on #75
If this works then yes, it can be added to [localgov_services_sublanding_update_8001()](https://github.com/localgovdrupal/localgov_services/blob/6ee3adc340647f647f56ee445bfae5e1d57018fa/modules/localgov_services_sublanding/localgov_services_sublanding.install#L20)

Page component renaming worked okay as it is an Entity reference field instead of an Entity reference revision field.

No need to be s

[2021-05-20 12:23] finnlewis commented on #75
Happy to run a retro / review but probably best to allow Andy to work on his fix first.

It sounds like @Adnan-cds has resolved the immediate issue at Croydon, which is good to know. Is that right @Adnan-cds @richardaclarke ?

We also noted in our standup that this should be highlighted to anyone else who might be affected. Westminter, Lambeth, Bracknell .

I'll post in the product and technical c

[2021-05-20 12:57] Adnan-cds commented on #75
That's right.  No complains from site users so far.

[2021-05-24 14:00] ekes opened #77 "'Default Images'"
General request:-

To have small sets of 'default images' that can be maintained by groups of users, that can be chosen from to be the placeholder image on items that don't have a specific image to be added.

Comes from localgovdrupal/localgov_news#31 where there was a separate entity reference field to choose from a list of images managed by the news team.

Discussion noted that this was likely t

[2021-05-24 14:04] ekes commented on #77
The path of least resistance solution:

Make one new media content type 'Default Image' this can then be added to the media reference fields where it is an option. It would appear as a tab in the media browser (the tabs in media browser are media bundles).
This would have the bonus of being able to give permission to a role to be able to manage media of that bundle type.
It could be extended by in

[2021-05-25 22:07] andybroomfield opened #78 "Field rename fails if there is existing config with updated field name already present"
`[error]  Attempt to save a configuration entity 'node.localgov_related_links' with UUID 'c40b2e2a-1440-4543-90d1-951e95390a14' when this UUID is already used for 'node.field_related_links'`

This happens if the config from a previously updated site on the same host is present in config sync.
I ran into it whilst rolling back the field renames to check the update works and had a config export from

[2021-05-26 08:26] #75 closed, assigned to nobody

[2021-05-26 18:41] Adnan-cds commented on #78
Hi Andy,
If I export the config after running the field renaming updates, the config files for the older fields get deleted.  That should prevent the occurrence of this issue.  Is that not happening then?

[2021-05-26 20:30] andybroomfield commented on #78
@Adnan-cds What I mean is that (from previous testing) my config sync directory had files for `field.field_node.localgov_related_links` left over.

[2021-05-27 10:39] Adnan-cds commented on #78
If this only happens during testing then I won't worry too much.  But if you feel that it can happen to production sites then yes, we need to do something about this.

[2021-05-27 10:47] danchamp commented on #48
@Adnan-cds Extending the Default Linkit profile to include Media Document and Page Component matchers feels like the most logical approach - any users requiring different settings can create new Linkit profiles and/or add matchers.

I'm happy to pick this up with #47

[2021-05-27 10:51] Adnan-cds commented on #48
Thanks Dan.  Matt started working on the [Page component integration](https://github.com/localgovdrupal/localgov_page_components/pull/18).  But nobody has looked into Media document integration with LinkIt.

[2021-06-02 16:30] markconroy opened #83 "Add Global Variable so we can turn base theme CSS and JS on and off in sub-themes."
I am creating a theme setting for
- Add CSS
- Add JS

This will allow sub-themes that wish to only use the new base theme HTML to turn the CSS and JS off rather than have to overrides lots of libraries and/or load lots of CSS they do not need.

To use this now, you simply need to add the following in any template:

[code]

And follow the same approach for JS:

[code]

Then if a sub-theme chooses t

[2021-06-03 13:26] ekes commented on #30
## Background

Related:
 * https://github.com/localgovdrupal/localgov_directories/issues/95
 * https://github.com/localgovdrupal/localgov_directories/issues/15

Also for information:
https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/node/node.install#L125
[code]
although `node` moudle then goes to for the `access content` to anon and authenticated. As does media in media.install.

[2021-06-03 14:09] danchamp opened #85 "Enable the email matcher in the default LinkIt profile"
To assist content editors who want to include a clickable email address in the WYSIWYG editor, but don't know the format the link should take.

[2021-06-03 14:21] danchamp opened #86 "Add <br> to the CKEditor allowed HTML tags"
Without `<br>` content editors cannot use soft returns, limiting the options for vertical spacing of inline content.

[2021-06-03 15:05] ekes commented on #86
#53 fixed with #54

Did this not filter through to the versions in use yet, or is it lost somewhere?

[2021-06-03 15:09] danchamp commented on #86
Thanks @ekes, my bad, should have checked a fresh install.

[2021-06-03 15:14] danchamp commented on #86
@ekes Scratch that, I can't see changes to `allowed_html` in #54:

https://github.com/localgovdrupal/localgov_core/pull/54/files

[2021-06-03 15:19] danchamp commented on #86
Flip-flop. TIL what filter_autop is.

[2021-06-03 15:19] #86 closed, assigned to nobody

[2021-06-03 15:24] ekes commented on #86
It was `filter_autop` which converts /n or /n/r to `<br/>` as far as I understand. It's tied to the wysiwyg. Is there another way of adding <br> that's needed, like a button or so?

[2021-06-03 15:24] ekes commented on #86
Ah crossed each other :-)

[2021-06-07 09:50] ekes commented on #30
Gone with

HOOK_localgov_roles_default(). As this can be called directly per module when another module is installed (from hook_modules_installed), and can be called with invokeAll from hook_install when the roles module itself is installed. The former will add the permissions for the newly installed modules; the latter will install the permissions for all modules.

The format template for the hoo

[2021-06-11 11:01] msayoung opened #90 "Create a default Services menu in the Core install, and place in the secondary menu region"

[2021-06-11 11:03] msayoung commented on #90
@markconroy @willguv any other detail to add to this?

[2021-06-14 13:30] markconroy commented on #90
I don't think there's any more detail needed. It's just to create a menu and place it. There will be no content in the menu; it's just config.

[2021-06-14 17:58] #85 closed, assigned to danchamp

[2021-06-15 08:40] finnlewis opened #92 "Workflows permissions [epic?]: define new roles, states, transitions and permissions."
## User story

**As a:** product owner
**I want:** publishing workflow roles and permissions to be enabled by default when I enable to localgov_workflows
**So that:** we have a sensible starting point for publishing workflows.

## Notes:

These can always be changed once installed, this is meant as a starting point for councils that want to delegate authoring permissions to a wider set of users wh

[2021-06-15 14:24] stephen-cox opened #93 "Unable to set the title from a views hook."
Setting the page title is done through the localgov_core.page_header_display event, but the PageHeaderDisplayEvent class only wraps an entity, meaning it's possible to change the page title depending on the current entity being displayed, but this doesn't allow changing the title when the page being displayed doesn't relate to a content entity, such as a view.

It should be possible to change the

[2021-06-15 16:15] finnlewis opened #94 "Workflows : preview draft content exactly as it will appear"
## User story

**As a** content author

**I want** to preview the draft content exactly how it will appear

**So that** I can see how my content looks and feels and reads before sending for review.

## Notes:

Drupal preview is historically rubbish. Is this still the case? If so, do we need another solution?

https://www.drupal.org/project/preview_link ?

[2021-06-21 12:27] msayoung opened #95 "Workflow: approval dashboard"
## User story

**As an** editor,
**I want to:** view a list of content sent for approval,
**So that** I can review/approve/reject as necessary

## Notes

An approvals dashboard is a view in Drupal that can be accessed by editors.
Suggest this is a tab available from the Content Overview screen.

It must show a list of content that has been sent for approval and yet to be approved/published.

By de

[2021-06-21 12:30] msayoung commented on #95
@willguv @lbcwebmaster @benhillsjones (is David on here?) I've written up the approvals dashboard - how does that look?

Question - is the Last updated column good enough to see when content was sent for approval?

[2021-06-21 12:34] andybroomfield commented on #95
Theres the review queue that is part of the BHCC site (never ported to Localgov).
Also Drupal has a built in Moderated content view which could be altered.

<img width="1292" alt="Screenshot 2021-06-21 at 1 31 16 pm" src="https://user-images.githubusercontent.com/1467480/122762492-4684cb00-d295-11eb-84f7-433bd6d3ac76.png">

[2021-06-22 09:52] davidsiddall opened #96 "Scheduling (epic?): publishing, unpublishing, reverting"
### User story

**As a:** Product Owner,
**I want:** Scheduling of content to be enabled by default when I enable localgov_workflows
**So that:** Website editors can publish smarter and have their needs met

Please see research on https://github.com/localgovdrupal/localgov/issues/242

This includes:

- scheduling a new page to go live
- scheduling a new draft to an existing page to go live
- sched

[2021-06-22 11:00] willguv commented on #73
@danchamp this will be superseded by the new content lifecycle working group proposal, so closing

[2021-06-22 11:00] #73 closed, assigned to danchamp

[2021-06-22 14:01] davidsiddall opened #97 "Content lifecycle: needs review status and dashboard"
### User story

**As a:** Product Owner,
**I want:** A review date and needs review status for content to be enabled by default when I enable localgov_workflows
**So that:** there is a mechanism to keep content up to date and quality assured

### Notes

Content lifecycle refers to functionality to ensure that content is always up to date and relevant to end users.

### Acceptance tests

We want a

[2021-06-22 16:43] #30 closed

[2021-06-24 08:10] stephen-cox commented on #95
I have enabled the Workbench module on the testing site so the content workflow working group can take a look tomorrow. I've also enabled the existing LocalGov Workflows module that provides a simple set of content states and transitions between them.

I will come to the working group meeting tomorrow if I can, although there's a reasonable chance I won't be able to make it.

Workbench comes with

[2021-06-24 15:33] stephen-cox commented on #92
@msayoung I've a question on the author permissions. Should authors be able to edit and publish other users content?

If authors can edit other people's content, then they can also do the same operations on other content as their own. This means they can move content straight from draft to published for their own and other people's content. Is this going to be a problem? If it is I'll have to look

[2021-06-25 08:37] msayoung commented on #92
Hey @stephen-cox
- my understanding was that authors can edit and publish their own, but not other people's.
- I hadn't considered authors editing (but not publishing) other people's content, i'll take that to the group

[2021-06-25 10:17] stephen-cox commented on #95
Having discussed this with the Content Workflow Working Group the decision has been made to go with the core Moderated Content views for now. These can be reviewed once people start using them Workbench added later if a more customisable editor dashboard is required.

[2021-06-25 10:20] stephen-cox commented on #92
Content Workflow Working Group clarified that for now authors shouldn't be able to edit other people's content, which solves the issue of them being able to publish other people's content: they can't.

[2021-06-30 13:43] stephen-cox commented on #92
@willguv @msayoung This work has been deployed to the test site: https://test.localgovdrupal.org/

I have created users with each of the redefined roles: LocalGov Editor, LocalGov Author, LocalGov Contributor, and LocalGov User Manager.

To aid testing I have installed the Masquerade module which will allow you to easily switch between each of these users while testing.

If you login as the LocalG

[2021-06-30 13:45] stephen-cox commented on #95
@willguv @msayoung This work has been deployed to the test site: https://test.localgovdrupal.org/

You can checkout the approvals dashboard here: https://test.localgovdrupal.org/admin/content/localgov_approvals

[2021-06-30 13:53] willguv commented on #92
Thanks @stephen-cox, looking forward to trying it

This is an invite to the other working group members too (let me know if you need log in details)

@OliverHannan
David Siddall - looking for his GitHub name
@tom-steel

[2021-06-30 14:31] stephen-cox commented on #94
@willguv @msayoung I'm looking at content preview, but I haven't been involved in the discussions on this and the specification on this ticket is a bit sparse.

The [Preview Link](https://www.drupal.org/project/preview_link) module allows content editors to generate a link that can be passed around to check how a draft page looks without needing to login. This could be useful in allowing others to

[2021-06-30 14:37] willguv commented on #94
Hi @stephen-cox it feels like the solutions above work for two kinds of users, and we could potentially include both in LGD

- I wasn't involved in the Preview link discussions, but the need is to provide content editors with a way of getting approval for a page from a third party who does not have a log in to the site

- Responsive Preview sounds like a useful tool for editors to check their work

[2021-06-30 15:12] OliverHannan commented on #92
Hello @willguv, yes i need log in details

Nice one @stephen-cox thanks so much

@davidsiddall - Your work in action!

[2021-06-30 15:17] davidsiddall commented on #92
Nice one @stephen-cox.

I will also need log in details.

[2021-07-01 08:11] msayoung commented on #94
Oh, I had thought this was actually just about making sure that authors can Preview before they save.
@finnlewis can you clarify ?

[2021-07-01 12:31] msayoung commented on #92
Hi @stephen-cox

I've tested the 4 roles and it seems to work as suggested, though currently limited to the 3 main Service content types

A couple of minor things
-  All of the new roles get an Access Denied when trying to add a new component on a Services Page
- Localgov Author and Localgov Editor cannot Archive content (it's not mentioned above but it's on the spreadsheet

Notes for discussion:

[2021-07-01 12:37] msayoung commented on #95
Great, thanks @stephen-cox
pinging @OliverHannan @tom-steel @davidsiddal too.
Login details for the test site in our Slack channel

[2021-07-01 14:35] finnlewis opened #101 "Typo in localgov_media"
I keep meaning to fix this.

LocalGov Media is called LocalGovDrupal Media in the modules listing.

![image](https://user-images.githubusercontent.com/326588/124142230-f5898980-da81-11eb-940f-9086dc3f7f7d.png)

[2021-07-02 09:28] finnlewis opened #103 "Workflow: email notifications on workflow state changes."
From the Miro board : https://miro.com/app/board/o9J_lHm9M2s=/

@benhillsjones asked about email notifications.

Can we send notifications to users on workflow changes?

[2021-07-02 09:30] finnlewis opened #104 "Workflows: last updated on service pages"
From the Miro board: https://miro.com/app/board/o9J_lHm9M2s=/

Display a 'last updated' date on service pages.

[2021-07-02 09:33] finnlewis opened #105 "Workflow: required revision log?"
@tom-steel raised the question of revision log.

Sometimes it would be good to ensure that the revision log is required.

If it is, the positioning of the revision log field is important: possibly move from the sidebar to the main content fields on the admin UX?

[2021-07-02 13:28] stephen-cox commented on #92
Thanks for testing this @msayoung

I needed to give the roles permission to use the entity browser. Should work now.

Editors should be able to archive content (that is, move draft or published content to archived)
I have given this permission to authors.

Editors should be able to edit any content. We haven't implemented the permissions for this for anything other than service landing, sublanding

[2021-07-02 15:12] stephen-cox commented on #96
@davidsiddall I have added and configured Scheduled Transitions and confirmed this works with the LocalGov Workflows. This has been deployed to the test site for people to have a play with.

Scheduled Transitions doesn't work in a way that isn't entirely consistent with the description in the user story and acceptance tests so I wanted to check a couple of things.

Content scheduling has it's own

[2021-07-06 10:25] msayoung commented on #92
Thanks @stephen-cox , that's great and thanks for the clarification.

I'll seek some more feedback from the others.

[2021-07-06 11:41] #83 closed, assigned to nobody

[2021-07-07 10:46] finnlewis commented on #94
I will clarify!

[2021-07-07 16:29] davidsiddall commented on #96
Hi @stephen-cox I went to test this but can't see it set up on the next site. Are the tabs there yet? This all sounds good in principle. A workaround could be that contributors could request scheduling in the revision log message.

[2021-07-08 12:57] stephen-cox commented on #96
Hi @davidsiddall, this is installed on the test site (https://test.localgovdrupal.org/). Once you're logged in you'll see a new tab on the content page called 'Scheduled transitions'; e.g.; https://test.localgovdrupal.org/dave-s-test-title-page, which should take you to https://test.localgovdrupal.org/node/89/scheduled-transitions

[2021-07-08 13:20] davidsiddall commented on #96
Thanks @stephen-cox have subsequently tested with the correct user and this is working as expected. I think this is a workable solution and for contributors who want to schedule, they could state it on their revision message as to when they want it to go live.

[2021-07-08 16:48] OliverHannan commented on #92
This worked for me on all new users

I was able to archive as Author but **not** as Editor, see image - option wasn't available to archive

![cant archive](https://user-images.githubusercontent.com/47107641/124960613-6695e780-e014-11eb-8427-a90a32a84e2a.png)

@stephen-cox thanks for explaination - makes sense

@stephen-cox again, makes sense. Cheers

[2021-07-09 09:34] msayoung commented on #92
In the review we discovered that it's not possible to Archive content when it's in Review.
@stephen-cox will update this.
Stephen will also add these permissions to the other content types.

We discussed the following and decided that we can discuss and raise separate issues if they are determined as necessary
- roles will go ahead as originally defined, keeping in mind that the labels can be chan

[2021-07-09 09:46] msayoung opened #107 "Workflow: Allow Contributor and Author to edit content they didnt author"
David raised the following:

role 1 (contributor) and role 2 (author) to be able to create new drafts of existing published content.

Currently they can't do this. We are doing a mass content migration of pages administered by the central digital team. This would mean that those pages automatically belong to us and our editors, when we train them up, would not be able to edit them. I would imagine

[2021-07-09 09:55] msayoung opened #108 "Workflow: Relabel Drupal's Authored by field."
In the course of discussing names of roles we had a brief discussion about changing Drupal's "Authored by" label. @ekes suggests its not semantically correct and may be better named "Owned by".

David's team suggested:
Regarding the box that features author, the team would like it to show Created by: user 1 Last updated by: user 2.

Needs futher thought, but leaving this here for discussion

[2021-07-09 13:29] stephen-cox commented on #92
Thanks @OliverHannan @msayoung - I have ensured that content in review can be archived. I will now pass the PR for this #99 to the tech crew for a code review.

[2021-07-09 13:42] stephen-cox commented on #94
The content workflow WG decided that both these modules are useful.

[2021-07-09 15:12] danchamp opened #110 "Review classes used in localgov_media CKEditor styles config"
The localgov_media [editor.editor.wysiwyg.yml](https://github.com/localgovdrupal/localgov_core/blob/2.x/modules/localgov_media/config/optional/editor.editor.wysiwyg.yml) includes a small set of WYSIWYG custom styles for Highlight, External link, etc, which are using legacy and Bootstrap classes.

These may need supplementing with additional classes to maintain consistency in localgov_base.

[2021-07-09 17:59] andybroomfield opened #111 "Break open LocalGov_core submodules into stand alone modules"
As a lot of extra dependencies are now being added (seeing scheduled transitions) which might not always be required by sites if they are not using the workflow, I think it is time that at least localgov_workflow and localgov_roles where made into their own module and the dependencies added there.

This is important as Localgov_core is required by the majority of Localgov modules, which means inst

[2021-07-12 10:38] finnlewis commented on #111
@andybroomfield mentioned this in standup. Would be good to gather other people's thoughts.
@ekes @stephen-cox @Adnan-cds

[2021-07-12 11:13] Adnan-cds commented on #111
As far as I understand, localgov_core's submodules are always needed.  So packaging them as separate modules probably won't do any good as they will be downloaded anyway.

If we really don't want to have lots of hard dependencies for localgov_core, then its code/config will have to be tweaked to make those dependencies optional.  For example, the localgov_directories module has an [optional depend

[2021-07-12 11:30] andybroomfield commented on #111
Thanks @Adnan-cds
Just to clairfy, We've never so far needed to enable any of the sub modules in localgov_core (They replicate existing BHCC functionality). At least within the services stack (localgov_services, localgov_guides, localgov_step_by_step) they do not require the enabling of anything within localgov_workflows or localgov_roles and these two modules are the main things I think are candi

[2021-07-12 15:03] ekes commented on #111
On a general level I'm in favour of keeping localgov_core to really just that. Absolutely essential functionality that all localgov_ modules need and can just assume exists. Everything else can be switched on optionally, even if it means sometimes having to add a logic check to see what else is enabled.

The question here though is really about the submodules that don't need to be enabled but are

[2021-07-12 15:51] stephen-cox commented on #111
Splitting localgov_workflows out of core makes sense to me as this is not enabled by default and as @andybroomfield has pointed out now includes quite a few dependencies that may not be required on a site just using a few LocaGov modules.

I'm not so sure about localgov_roles as quite a few modules need this, it is enabled during a LocalGov site install and it just contains some configuration for

[2021-07-12 16:03] finnlewis commented on #111
Thanks all for your comments. I agree that splitting localgov_workflows makes sense, but also agree that we should get this work that is in flight and has been defined and tested merged in first for efficiency.

@andybroomfield is that OK with you?

[2021-07-12 16:19] msayoung commented on #90
https://github.com/localgovdrupal/localgov_services/pull/125

[2021-07-13 11:02] andybroomfield commented on #111
Just to confirm the descision in the standup.
We will be spliting localgov_workflows into its own module.

[2021-07-13 14:29] markconroy commented on #110
@danchamp I've tackled this in https://github.com/localgovdrupal/localgov_base/commit/954299d2a223a21a230d89949d44d2aa08bdc5bb

[2021-07-13 14:45] danchamp commented on #110
@markconroy Nice, happy to close this.

[2021-07-13 14:45] #110 closed, assigned to danchamp, markconroy

[2021-07-14 09:53] finnlewis commented on #96
@stephen-cox  - ready to merge I think

[2021-07-14 09:54] finnlewis commented on #95
@stephen-cox ready to merge I believe!

[2021-07-14 09:55] finnlewis commented on #94
@stephen-cox ready to merge, then we can start separating localgov_workflows out on https://github.com/localgovdrupal/localgov_core/issues/111

[2021-07-14 11:49] #92 closed, assigned to stephen-cox

[2021-07-14 12:25] #95 closed, assigned to stephen-cox

[2021-07-14 12:58] #94 closed, assigned to stephen-cox

[2021-07-14 13:21] #96 closed, assigned to stephen-cox

[2021-07-14 15:12] stephen-cox commented on #111
There's now a new LocalGov Workflows module: https://github.com/localgovdrupal/localgov_workflows

There's a PR to remove workflows from core: #112

Once that's merged we'll want to do a stable release of workflows (https://github.com/localgovdrupal/localgov_workflows/pull/1), a 2.1.0 release of core and a 2.1.2 release of the profile.

I believe doing things this way should mean that sites are no

[2021-07-14 15:21] finnlewis commented on #111
Thanks @stephen-cox. Shall we make a time to work on this together to co-orindate and let people know too?

[2021-07-14 15:22] finnlewis commented on #111
(I'm about now if you are!)

[2021-07-14 16:02] #101 closed, assigned to nobody

[2021-07-23 09:20] msayoung commented on #107
@david-sidall

[2021-08-11 17:39] Adnan-cds opened #115 "Module updates for new roles"
Hello,
I can see that two new roles called "Contributor" and "User manager" have been added [recently](https://github.com/localgovdrupal/localgov_core/commit/c5ec12f69869ea8fb29c9c99e287060f8b685a97).  But I can't see any update hook implementation to actually import the relevant config files ([example](https://github.com/localgovdrupal/localgov_core/blob/2.x/modules/localgov_roles/config/install/

[2021-08-18 14:06] stephen-cox commented on #115
@Adnan-cds Apologies for the delay in getting back to you. There was the idea that people already using the Roles modules will likely have customised these and so we don't necessarily want to impose these on everyone.

That said, I think the Contributor role is assumed to exist if you're using the Workflows module and I may have overlooked ensuring this role exists when enabling Workflows, which m

[2021-08-19 16:38] Adnan-cds commented on #115
Got it.  Thanks.

+1

Yes, we are.

I have directly imported the config files, so should be okay for now.  I was just worried about unsuspecting site builders missing out on these new goodies.

[2021-08-20 10:34] stephen-cox commented on #115
I have created an issue for the missing contributor role when workflows is enabled: https://github.com/localgovdrupal/localgov_workflows/issues/5

There are ongoing discussions about the best way to communicate updates and changes to LocalGov Drupal.

[2021-10-12 06:52] msayoung opened #117 "Readme for localgov_roles out of date"
Mentions the old roles defined

[2021-10-12 09:24] ekes commented on #111
Should we close this and open new individual issues for anything else that want spinning out?

[2021-10-12 11:42] stephen-cox commented on #90
Done - sprint 6

[2021-10-12 11:42] #90 closed, assigned to msayoung

[2022-01-10 16:00] markconroy opened #118 "Add localgov_admin_theme_improvements module"
Follow on from https://github.com/localgovdrupal/localgov_subsites/issues/68

Currently the layout paragraphs modal hides behind the sidebar in gin. This module is to create a place where we can fix issues like this.

[2022-01-31 10:20] andybroomfield opened #122 "New coding standards errors"
[code]

[2022-01-31 14:20] #122 closed, assigned to nobody

[2022-02-08 10:37] markconroy commented on #43
Metatag/metadata/schema.org type things is something I LOVE working on.

If anyone wants to resurrect this issue and start a conversation about it, I'd be very happy to join in.

[2022-03-21 11:33] andybroomfield opened #125 "Editor role should have the bypass access control permisson"
Assuming editor role is essentially meant to be the 'god mode' in terms of content editing, would it make sense to give the localgov_editor role the `bypass node access` (Bypass content access control).

Spotted as some of our custom content types where not editable by default, and whilst I can add a function to assign correct permisisons, would it not make sense to add this by default?

[2022-04-06 21:45] #118 closed, assigned to nobody

[2022-04-06 21:47] #115 closed, assigned to nobody

[2022-04-06 21:48] #111 closed, assigned to nobody

[2022-04-06 21:53] #34 closed

[2022-04-06 21:53] andybroomfield commented on #29
[Preview link](https://www.drupal.org/project/preview_link) is used instead

[2022-04-06 21:53] #29 closed

[2022-04-06 21:54] #44 closed

[2022-04-12 10:38] stephen-cox opened #126 "Fix code depreactions for phpstan 1.x (required for PHP 8.1)"
We need to upgrade phpstan to 1.x for PHP 8.1. This highlights the following issues:

[code]

[2022-04-12 10:43] andybroomfield commented on #126
Wonder if fieldrenamehelper can be dropped now?

[2022-04-12 13:37] andybroomfield opened #127 "How to add a lede (subtitle) to a view?"
Has anyone worked this out, would a custom views plugin be needed?
This is for the page header block.

[2022-04-19 14:21] stephen-cox commented on #126
If it's no longer required then we should consider this, although the fix here is so simple I have done that for now #128

[2022-04-21 11:08] #126 closed, assigned to stephen-cox

[2022-04-21 17:52] ekes opened #129 "localgov_media config as dependencies"
I'm going to log this here because I _think_ this is the best place to solve the problem. The localgov_media is all in optional so I think it gets evaluated later. If there is a module depending on these (localgov_homepage_paragraphs, localgov_subsites) depending on how they are installed it can fail. Running `drush si minimal; drush en localgov_subsites` for example is fine, but put them into a p

[2022-04-22 12:02] ekes commented on #129
See #130 for a blow-by-blow discovery of why they are in optional, and probably should stay there, and what we should do or not do in the future.

[2022-04-22 12:02] #129 closed, assigned to nobody

[2022-05-17 13:14] ekes opened #135 "Tests failing because of assigning role permissions in localgov_core/modules/localgov_media/localgov_media.install:17"
Testing module that depends on and installs localgov_media.
Even after adding explicit dependencies to filter module (that has the route).
And after moving the config for filter format wysiwyg to install rather than optional (it's really not optional if we need it during the installation) as that's the argument of the route.
But nope not helping.

[code]

[2022-08-03 08:51] ekes opened #142 "Update pathauto install patterns (Ctools pinned)"
https://www.drupal.org/project/ctools/issues/3300682#comment-14636292
Looks like we need to update all the pathauto patterns that get installed.

Although new version of pathauto drops ctools requirement, and ctools is fixing the issue too; but it needs to be updated before D10 anyway.

_Originally posted by @ekes in https://github.com/localgovdrupal/localgov_core/issues/140#issuecomment-120366790

[2022-08-04 12:20] ekes commented on #142
[code]

[2022-09-20 10:08] tran-bigbluedoor opened #147 "Custom patch failed for drupal/field_group:3.3.0"
Error: Cannot apply the patch `"Fix 'Undefined property: stdClass::$region' error #3059614": "https://www.drupal.org/files/issues/2020-06-15/3059614-37.patch"` when execute `composer update`:

<img width="1098" alt="Screenshot 2022-09-20 at 11 05 44" src="https://user-images.githubusercontent.com/102959744/191230173-8806df0f-eb74-4120-ba0d-75b94609f637.png">

Explanation: New version (3.3.0) of `f

[2022-09-20 13:58] finnlewis commented on #147
Thanks @tran-bigbluedoor!

Any chance you could create a pull request for review?

Then @ekes @stephen-cox @Adnan-cds or @andybroomfield or I might be able to review?

[2022-09-20 14:41] tran-bigbluedoor commented on #147
Hi @finnlewis , I have created a PR here: https://github.com/localgovdrupal/localgov_core/pull/148

[2022-09-20 14:51] finnlewis commented on #147
Thanks @tran-bigbluedoor - @ekes is just double checking and we'll get it merged and hopefully do a release.

[2022-09-20 14:52] finnlewis commented on #142
Can we close this one @ekes ?

[2022-09-20 15:15] finnlewis commented on #147
Released https://github.com/localgovdrupal/localgov_core/releases/tag/2.1.7

Thanks @tran-bigbluedoor and @ekes !

[2022-09-20 15:15] #147 closed, assigned to finnlewis

[2022-10-05 11:19] msayoung commented on #57
I think this is a great idea @markconroy

[2022-10-05 12:00] markconroy commented on #57
@msayoung assigning you and me to this. Let's see how gets to it first.

[2022-10-10 14:31] #142 closed, assigned to ekes

[2022-10-27 16:56] finnlewis opened #153 "media_library_edit missing schema - the module does not define schema, so tests are failing."
Since we introduce [media_library_edit](https://www.drupal.org/project/media_library_edit) to allow content managers to edit images and other media, many tests are failing due to missing schema.

Failing tests like:

`core.entity_form_display.paragraph.localgov_image.default:content.localgov_image.third_party_settings.media_library_edit missing schema`

See: https://github.com/localgovdrupal/local

[2022-11-07 17:37] andybroomfield commented on #153
This is fixed, but we need localgov_core to update to media_library_edit 3.0.1

[2022-11-08 13:36] finnlewis commented on #153
Good point @andybroomfield ! I'll start a branch.

[2022-11-17 12:01] #153 closed, assigned to nobody